.${className} {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.${className}-Tabs {
  flex: 1 1 auto;
  position: relative;
}

.${className}-State {
  padding: 0.5em;
  display: flex;
  align-items: baseline;
}

.${className}-StateHeadline {
  font-weight: bold;
}

* + .${className}-StateHeadline {
  margin-left: 1em;
}

.${className}-Button {
  padding: 0.3em 0.5em;
  background: var(--color-button-light);
  color: var(--color-button-dark);
  font-weight: bold;
  cursor: pointer;
}