.${className} {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.${className}-Item {
  display: flex;
  margin: 0.5em;
}

.${className}-Item-Time {
  margin-right: 0.5em;
}

.${className}-Item-Message {
  flex: 1 1 auto;
  min-width: 0;
}

.${className}-Item-Time,
.${className}-Item-Head {
  font-size: 0.8em;
}

.${className}-Item-Head hr {
  position: relative;
  border: none;
  margin: 0;
}

.${className}-Item-Head hr::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  height: 1px;
}

.${className}-Item-Head hr::after {
  content: attr(data-text);
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 4px;
  background: var(--color-panel-light);
  color: var(--color-panel-text);
  text-align: center;
  max-width: 61.8%;
}

@keyframes highlight {
  from { color: red }
}

.${className}-Item-Body.error {
  animation: highlight 5s ease-out;
}