.${className} {
  margin-top: -0.5em;
}

.${className}\/instance\/Value {
  --indentation: 0.75em;
  --arrow-size: 0.35em;
  margin-top: 0.5em;
}

.${className}\/instance\/Value-State {
  display: none;
}

.${className}\/instance\/Value-Header {
  font-weight: bold;
  padding-left: var(--indentation);
  position: relative;
  user-select: none;
}

.${className}\/instance\/Value-Header::before {
  content: '';
  position: absolute;
  top: calc(50% - 0.5*var(--arrow-size));
  left: 0;
  width: 0;
  height: 0;
  border: var(--arrow-size) solid transparent;
  border-left-color: currentColor;
  transform-origin: 25% 50%;
}

.${className}\/instance\/Value-State:checked ~ .${className}\/instance\/Value-Header::before {
  transform: rotate(45deg);
}

.${className}\/instance\/Value-Body {
  margin: 0.25em var(--indentation) 2em;
  display: none
}

.${className}\/instance\/Value-Attachment:not(.none) {
  margin-bottom: 0.5em;
}

.${className}\/instance\/Value-State:checked ~ .${className}\/instance\/Value-Body {
  display: block;
}

.${className}\/instance\/Value-AttachmentInput {
  border: 1px solid currentColor;
  padding: 0.25em;
}

.${className}\/instance\/Value-NumericContainer {
  display: flex;
  flex-flow: column;
  margin: -0.125em;
}

.${className}\/instance\/Value-NumericContainer.transpose {
  flex-flow: row;
}

.${className}\/instance\/Value-NumericRow {
  display: flex;
}

.${className}\/instance\/Value-NumericContainer.transpose .${className}\/instance\/Value-NumericRow {
  flex-flow: column;
}

.${className}\/instance\/Value-NumericInput {
  margin: 0.125em;
  box-sizing: border-box;
  width: 5em;
  padding: 0.25em;
  border: 1px solid currentColor;
}

.${className}\/instance\/Value-SamplerImages {
  display: grid;
  grid-template: "t1 t2 t3 t4" min-content
                 "m1 m2 m3 m4" min-content
                 "b1 b2 b3 b4" min-content / min-content min-content min-content min-content;
  margin: -0.25em;
}

.${className}\/instance\/Value-SamplerImage {
  margin: 0.25em;
}

.${className}\/instance\/Value-SamplerImage.TEXTURE_2D {
  grid-area: t1;
}

.${className}\/instance\/Value-SamplerImage.TEXTURE_CUBE_MAP_POSITIVE_Y {
  grid-area: t2;
}

.${className}\/instance\/Value-SamplerImage.TEXTURE_CUBE_MAP_NEGATIVE_X {
  grid-area: m1;
}

.${className}\/instance\/Value-SamplerImage.TEXTURE_CUBE_MAP_POSITIVE_Z {
  grid-area: m2;
}

.${className}\/instance\/Value-SamplerImage.TEXTURE_CUBE_MAP_POSITIVE_X {
  grid-area: m3;
}

.${className}\/instance\/Value-SamplerImage.TEXTURE_CUBE_MAP_NEGATIVE_Z {
  grid-area: m4;
}

.${className}\/instance\/Value-SamplerImage.TEXTURE_CUBE_MAP_NEGATIVE_Y {
  grid-area: b2;
}

.${className}\/instance\/Value\/ImageUpload-Browse {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  box-sizing: border-box;
  height: 5em;
  width: 5em;
  border: 1px solid currentColor;
}

.${className}\/instance\/Value\/ImageUpload-Browse::before {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  font-size: 0.8em;
  padding: 0.25em;
}

.${className}\/instance\/Value\/ImageUpload.TEXTURE_CUBE_MAP_POSITIVE_X .${className}\/instance\/Value\/ImageUpload-Browse::before {
  content: '+X'
}

.${className}\/instance\/Value\/ImageUpload.TEXTURE_CUBE_MAP_NEGATIVE_X .${className}\/instance\/Value\/ImageUpload-Browse::before {
  content: '-X'
}

.${className}\/instance\/Value\/ImageUpload.TEXTURE_CUBE_MAP_POSITIVE_Y .${className}\/instance\/Value\/ImageUpload-Browse::before {
  content: '+Y'
}

.${className}\/instance\/Value\/ImageUpload.TEXTURE_CUBE_MAP_NEGATIVE_Y .${className}\/instance\/Value\/ImageUpload-Browse::before {
  content: '-Y'
}

.${className}\/instance\/Value\/ImageUpload.TEXTURE_CUBE_MAP_POSITIVE_Z .${className}\/instance\/Value\/ImageUpload-Browse::before {
  content: '+Z'
}

.${className}\/instance\/Value\/ImageUpload.TEXTURE_CUBE_MAP_NEGATIVE_Z .${className}\/instance\/Value\/ImageUpload-Browse::before {
  content: '-Z'
}

.${className}\/instance\/Value\/ImageUpload-Browse::after {
  content: 'Browse…';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.25em;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.${className}\/instance\/Value\/ImageUpload-Preview {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.${className}\/instance\/Value\/ImageUpload-File {
  display: none;
}