.${className}\/Uniform + .${className}\/Uniform {
  margin-top: 1em;
}

.${className}\/Uniform-Name {
  font-weight: bold;
}

.${className}\/Uniform-Value {
  margin: 0.25em 0;
}

.${className}\/Uniform-Attachment {
  border: 1px solid black;
  padding: 0.25em;
  margin-bottom: 0.25em;
}

.${className}\/NumericUniform-Row {
  display: flex;
  margin: 0 -0.25em;
}

.${className}\/NumericUniform-Input {
  margin: 0.25em;
  box-sizing: border-box;
  width: 5em;
  padding: 0.25em;
  border: 1px solid black;
}

.${className}\/SamplerUniform-Images {
  display: grid;
  grid-template: "t1 t2 t3 t4" min-content
                 "m1 m2 m3 m4" min-content
                 "b1 b2 b3 b4" min-content / min-content min-content min-content min-content;
  margin: -0.25em;
}

.${className}\/SamplerUniform-Image {
  margin: 0.25em;
}

.${className}\/SamplerUniform-Image.TEXTURE_2D {
  grid-area: t1;
}

.${className}\/SamplerUniform-Image.TEXTURE_CUBE_MAP_POSITIVE_Y {
  grid-area: t2;
}

.${className}\/SamplerUniform-Image.TEXTURE_CUBE_MAP_NEGATIVE_X {
  grid-area: m1;
}

.${className}\/SamplerUniform-Image.TEXTURE_CUBE_MAP_POSITIVE_Z {
  grid-area: m2;
}

.${className}\/SamplerUniform-Image.TEXTURE_CUBE_MAP_POSITIVE_X {
  grid-area: m3;
}

.${className}\/SamplerUniform-Image.TEXTURE_CUBE_MAP_NEGATIVE_Z {
  grid-area: m4;
}

.${className}\/SamplerUniform-Image.TEXTURE_CUBE_MAP_NEGATIVE_Y {
  grid-area: b2;
}

.${className}\/ImageUpload-Browse {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  box-sizing: border-box;
  height: 5em;
  width: 5em;
  border: 1px solid black;
}

.${className}\/ImageUpload-Browse::before {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  font-size: 0.8em;
  padding: 0.25em;
}

.${className}\/ImageUpload.TEXTURE_CUBE_MAP_POSITIVE_X .${className}\/ImageUpload-Browse::before {
  content: '+X'
}

.${className}\/ImageUpload.TEXTURE_CUBE_MAP_NEGATIVE_X .${className}\/ImageUpload-Browse::before {
  content: '-X'
}

.${className}\/ImageUpload.TEXTURE_CUBE_MAP_POSITIVE_Y .${className}\/ImageUpload-Browse::before {
  content: '+Y'
}

.${className}\/ImageUpload.TEXTURE_CUBE_MAP_NEGATIVE_Y .${className}\/ImageUpload-Browse::before {
  content: '-Y'
}

.${className}\/ImageUpload.TEXTURE_CUBE_MAP_POSITIVE_Z .${className}\/ImageUpload-Browse::before {
  content: '+Z'
}

.${className}\/ImageUpload.TEXTURE_CUBE_MAP_NEGATIVE_Z .${className}\/ImageUpload-Browse::before {
  content: '-Z'
}

.${className}\/ImageUpload-Browse::after {
  content: 'Browse…';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.25em;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.${className}\/ImageUpload-Preview {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.${className}\/ImageUpload-File {
  display: none;
}