
.${className} {
  --color-panel-dark: #003b73;
  --color-panel-light: white;
  --color-panel-text: #333;
  --color-button-dark: var(--color-panel-dark);
  --color-button-light: var(--color-panel-light);
  --color-border: var(--color-panel-dark);

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-flow: column;
}

.${className}-Header {
  grid-area: header;
  position: relative;
}

.${className}-Content {
  --border-width: 3px;
  flex: 1 1 auto;
  display: grid;
  grid-template: "canvas  vborder editor" 50%
                 "hborder vborder editor" var(--border-width)
                 "options vborder editor" 1fr / 50% var(--border-width) 1fr;
}

.${className}-CanvasPanel {
  grid-area: canvas;
  position: relative;
}

.${className}-ControlsPanel {
  grid-area: options;
  position: relative;
  min-height: 0;
}

.${className}-EditorPanel {
  grid-area: editor;
  position: relative;
}

.${className}-HorizontalBorder {
  grid-area: hborder;
  cursor: ns-resize;
}

.${className}-VerticalBorder {
  grid-area: vborder;
  cursor: ew-resize;
}

.${className}-HorizontalBorder,
.${className}-VerticalBorder {
  position: relative;
  background: var(--color-border);
}

.${className}-VerticalBorder::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 5px;
  height: 100%;
  transform: translateX(-50%);
  z-index: 1;
}

.${className}-HorizontalBorder::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 5px;
  transform: translateY(-50%);
  z-index: 1;
}

.${className}-VerticalBorder::after,
.${className}-HorizontalBorder::after {
  content: '';
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.${className}-VerticalBorder.active::after,
.${className}-HorizontalBorder.active::after {
  display: block;
}