/*
 * This is a slightly tweaked version of [Eric Meyer's reset stylesheet, v2.0, 2011-01-26]
 * http://meyerweb.com/eric/tools/css/reset/
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea, select,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, button, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
}

main, article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  font-family: sans-serif;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

label {
  cursor: pointer;
}

/* Remove the outline of active or focused links. */
a {
  color: inherit;
  text-decoration: none;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: none;
}

/* Safari mobile does not trigger .click() on SVG elements otherwise */
a svg {
  pointer-events: none;
}

/* set correct flex default */
* {
  flex: 0 1 auto;
}

/*
 * App Styles
 */
.${className} {
  --color-panel: #ddd;
  --color-input: #fff;

  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template: "canvas  vborder editor" 50%
                 "hborder vborder editor" 0
                 "options vborder editor" 50% / 50% 0 50%;
}

.${className}-HorizontalBorder {
  grid-area: hborder;
  cursor: ns-resize;
}

.${className}-VerticalBorder {
  grid-area: vborder;
  cursor: ew-resize;
}

.${className}-HorizontalBorder,
.${className}-VerticalBorder {
  position: relative;
  background: #ccc;
}

.${className}-VerticalBorder::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 5px;
  height: 100%;
  transform: translateX(-50%);
  z-index: 1;
}

.${className}-HorizontalBorder::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 5px;
  transform: translateY(-50%);
  z-index: 1;
}

.${className}-VerticalBorder::after,
.${className}-HorizontalBorder::after {
  content: '';
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.${className}-VerticalBorder.active::after,
.${className}-HorizontalBorder.active::after {
  display: block;
}

.${className}-CanvasPanel {
  grid-area: canvas;
  position: relative;
}

.${className}-ControlsPanel {
  grid-area: options;
  position: relative;
}

.${className}-EditorPanel {
  grid-area: editor;
  position: relative;
}