.${className} {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 0.5em;
  height: 3em;
  background: var(--color-panel-dark);
  color: var(--color-panel-light);
}

.${className}-Left {
  flex: 1 1 0;
  display: flex;
  flex-flow: row;
  align-items: flex-end;
}

.${className}-Right {
  flex: 1 1 0;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  height: 100%;
}

.${className}-Title {
  font-weight: 300;
  font-size: 2em;
}

.${className}-Controls {
  margin-left: 2em;
}

.${className}-Button {
  padding: 0.3em 0.5em;
  background: var(--color-button-light);
  color: var(--color-button-dark);
  font-weight: bold;
  cursor: pointer;
}

.${className}-Button + .${className}-Button {
  margin-left: 0.5em;
}

.${className}-Logo {
  height: 100%;
}