.${className} {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.${className}-Shaders {
  flex: 1 1 auto;
  position: relative;
}

.${className}-Controls {
  flex: 0 0 auto;
  padding: 0.5em;
}

.${className}-CompileButton {
  padding: 0.3em 0.5em;
  background: var(--color-button-light);
  color: var(--color-button-dark);
  font-weight: bold;
  cursor: pointer;
}
