.${className}\/Section + .${className}\/Section {
  margin-top: 2em;
}

.${className}\/Section-Name {
  font-weight: bold;
}

.${className}\/Section-Content {
  margin: 0.25em 0;
}

.${className}\/Section-ContentInfo {
  font-size: 0.8em;
  margin: 1em 0;
}

.${className}-Field {
  display: flex;
  align-items: baseline;
}

.${className}-Field + .${className}-Field {
  margin-top: 0.5em;
}

.${className}-FieldLabel {
  box-sizing: border-box;
  width: 10.5em;
  padding: 0.25em 0;
  border-top: 1px solid transparent;
  display: flex;
  align-items: center;
}

.${className}-FieldValue {
  display: flex;
  align-items: center;
  margin: -0.25em;
}

.${className}-FieldInput {
  margin: 0.25em;
  box-sizing: border-box;
  padding: 0.25em;
  border: 1px solid currentColor;
}

.${className}-FieldInput[type='number'] {
  width: 5em;
}

.${className}-MeshFile {
  display: none
}