.${className} {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.${className}-State {
  display: none;
}

.${className}-Tabs {
  flex: 0 0 auto;
  display: flex;
  flex-flow: row wrap;
  background: var(--color-panel-dark);
  color: var(--color-panel-light);
  font-weight: bold;
  user-select: none;
}

.${className}-Tab {
  padding: 0.5em;
}

.${className}-Cards {
  flex: 1 1 auto;
  min-height: 0;
  display: flex;
}

.${className}-Card {
  display: none;

  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em;
  background: var(--color-panel-light);
  color: var(--color-panel-dark);
  overflow: auto;
}

.${className}-State:nth-child(1):checked ~ * .${className}-Tab:nth-child(1),
.${className}-State:nth-child(2):checked ~ * .${className}-Tab:nth-child(2),
.${className}-State:nth-child(3):checked ~ * .${className}-Tab:nth-child(3),
.${className}-State:nth-child(4):checked ~ * .${className}-Tab:nth-child(4),
.${className}-State:nth-child(5):checked ~ * .${className}-Tab:nth-child(5),
.${className}-State:nth-child(6):checked ~ * .${className}-Tab:nth-child(6),
.${className}-State:nth-child(7):checked ~ * .${className}-Tab:nth-child(7),
.${className}-State:nth-child(8):checked ~ * .${className}-Tab:nth-child(8) {
  background: var(--color-panel-light);
  color: var(--color-panel-dark);
}

.${className}-State:nth-child(1):checked ~ * .${className}-Card:nth-child(1),
.${className}-State:nth-child(2):checked ~ * .${className}-Card:nth-child(2),
.${className}-State:nth-child(3):checked ~ * .${className}-Card:nth-child(3),
.${className}-State:nth-child(4):checked ~ * .${className}-Card:nth-child(4),
.${className}-State:nth-child(5):checked ~ * .${className}-Card:nth-child(5),
.${className}-State:nth-child(6):checked ~ * .${className}-Card:nth-child(6),
.${className}-State:nth-child(7):checked ~ * .${className}-Card:nth-child(7),
.${className}-State:nth-child(8):checked ~ * .${className}-Card:nth-child(8) {
  display: block;
}

